<mat-card >
    <mat-card-header>
        <mat-icon> verified_user</mat-icon> <mat-card-title>  {{ persona.nombre }}</mat-card-title>   
        <mat-card-subtitle> Idade: {{ persona.edad }}</mat-card-subtitle>
    </mat-card-header>

   <!-- <img mat-card-image src="assets/no-image.png">-->
   <img mat-card-image [src]="persona | imagen">

    <mat-card-content>
        <h3><mat-icon mat-list-icon>golf_course</mat-icon><strong>Altura: </strong>
            <span >{{persona.altura / 100}}</span>  
        </h3>
        
        <mat-icon mat-list-icon>accessibility_new</mat-icon><strong>PESO: </strong> 
         <span *ngIf="persona.peso < 100">{{persona.peso  | number: '2.1' }} Kg</span>
         <span *ngIf="persona.peso > 100">{{persona.peso / 10 | number: '2.1' }} Kg</span>
         <span *ngIf="persona.peso > 1000">{{persona.peso / 10 | number: '3.1' }} Kg</span>
    </mat-card-content>

    

    <mat-card-actions>
        <button class="btn-bootstrap" style="width: 100%;" color="warn" [routerLink]="['/personal', persona.id]">
            <mat-icon>equalizer</mat-icon>
            <span class="text">Calcular IMC</span>
        </button>

 

      <!-- <button mat-button color="info" [routerLink]="['/personal/editar', persona.id]">
            Editar
        </button>--> 
    </mat-card-actions>
</mat-card>